---
import H1Title from "../../components/H1Title.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <H1Title enTitle="About" jaTitle="LOG.nxについて" isBorderStyle />
  <p>about</p>
</Layout>
