---
import H1Title from "@/components/H1Title.astro";
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <H1Title enTitle="About" jaTitle="LOG.nxについて" />
  <Prose>
    <p>LOG.nxは、JavaScriptの開発ログを記録するためのブログです。</p>
    <p>
      JavaScriptに関する情報を中心に、学んだことや気づいたことを記録しています。
    </p>
  </Prose>
</Layout>
