---
import H1Title from "../../components/H1Title.astro";
import Layout from "../../layouts/Layout.astro";
import { posts } from "../../lib/getPosts";
---

<Layout>
  <H1Title enTitle="Blog" jaTitle="Blog一覧" className="mb-0" />
  {
    posts.length === 0 ? (
      <div class="text-center mt-8">
        <p class="text-lg">記事はありません</p>
      </div>
    ) : (
      <ul>
        {posts.map((post) => (
          <li class={`py-8 border-b border-gray-800`}>
            <a href={`/info/${post.slug}/`}>
              <p class="text-sm">{post.date}</p>
              <p class="text-2xl font-bold my-2">{post.title}</p>
              {post.description && <p>{post.description}</p>}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</Layout>
