---
import H1Title from "@/components/H1Title.astro";
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <H1Title enTitle="Service" jaTitle="制作物" />
  <Prose>
    <p>勉強を兼ねて制作したツール郡です。</p>
    <table class="text-left border-collapse border border-slate-600">
      <tr class="text-center">
        <th class="border-r border-gray-600 p-3 text-center">ツール名</th>
        <th class="border-r border-gray-600 p-3 text-center">概要</th>
        <th class="border-r border-gray-600 p-3 text-center">技術</th>
        <th class="border-r border-gray-600 p-3 text-center">url</th>
      </tr>
      <tr>
        <td class="border-r border-gray-600 p-3">準備中...</td>
        <td class="border-r border-gray-600 p-3"></td>
        <td class="border-r border-gray-600 p-3"></td>
        <td class="border-r border-gray-600 p-3"></td>
      </tr>
    </table>
  </Prose>
</Layout>
