---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="py-6 px-8 gap-8 w-full flex mx-auto items-center justify-between">
    <div class="flex flex-col gap-2">
      <h1 class="text-5xl font-bold">LOG.nx</h1>
      <p class="text-lg">JavaScriptの開発ログ</p>
    </div>
    <div class="justify-center items-center flex">
      <div class="w-full h-full bg-amber-400 block">a</div>
    </div>
  </div>
</Layout>
