---
import { AtSign as AtSignIcon } from "lucide-astro";
---
<div class="w-full flex justify-center items-center pt-12 pb-5 border-t border-gray-800 mt-20">
    <small class="flex gap-1 items-center"><AtSignIcon size={13} />LOG.nx</small>
</div>
