---
type H1TitleProps = {
  enTitle?: string;
  jaTitle: string;
  className?: string;
};
import { twMerge } from "tailwind-merge";
const { enTitle, jaTitle, className } = Astro.props as H1TitleProps;
---

<div>
  <h1
    class={twMerge(
      "text-white flex font-semibold flex-col mb-8 justify-center text-4xl border-y border-gray-800 py-8",
      className
    )}
  >
    {enTitle && <span class="block text-xl mb-2">{enTitle}</span>}
    {jaTitle}
  </h1>
</div>
