---
type H2TitleProps = {
  jaTitle: string;
};

const { jaTitle } = Astro.props as H2TitleProps;
---

<div>
  <h1
    class={`text-white flex font-semibold flex-col mb-8 justify-center text-3xl border-l-5 border-gray-600 py-2 pl-6`}
  >
    {jaTitle}
  </h1>
</div>
