---
import Image from "astro/components/Image.astro";
import profileImage from "@/assets/m2.png";
---

<div class="flex justify-center items-center my-20">
  <Image src={profileImage} alt="Profile" class="w-full h-auto max-w-44 mx-auto" />
</div>
