---
import { menuItems } from "../config/menu";
import "../styles/globals.css";
import "@fontsource-variable/noto-sans-jp";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>LOG.nx</title>
  </head>
  <body class="bg-black text-white p-8 flex flex-between gap-12">
    <div class="flex flex-col gap-8 w-64 relative">
      <div class="md:sticky md:top-10">
        <div class="mb-8">
          <a href="/" class="flex flex-col gap-2">
            <h1 class="text-5xl tracking-wide font-bold">LOG.nx</h1>
            <p class="text-lg">JavaScriptの開発ログ</p></a
          >
        </div>
        <ul class="flex space-y-3 flex-col">
          {
            menuItems.map((item) => (
              <li>
                <a
                  href={item.href}
                  class="text-lg text-gray-400 hover:text-white"
                >
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="w-full mt-2">
      <slot />
    </div>
  </body>
</html>
