---
import { twMerge } from "tailwind-merge";
type ButtonProps = {
  href?: string;
  isBlank?: boolean;
  className?: string;
};
const { href = "/", isBlank, className } = Astro.props as ButtonProps;
---

<p
  class={twMerge(
    "mb-8 mt-16 w-32 rounded-full border px-5 py-3 text-center text-white hover:cursor-pointer mx-auto",
    className || ""
  )}
>
  <a href={href} target={isBlank ? "_blank" : undefined}>
    <slot />
  </a>
</p>
